import modelFactory from '../models/modelFactory';

class EntityService {
{{#each dbModels}}
  get{{capitalize tableName}}Collection() {
    return modelFactory.{{capitalize tableName}}.findAll();
  }
{{iteratedBreak ../dbModels @index ~}}
{{/each}}
}

export default new EntityService();
