{
  "presets": [
    [
      "env", {
        "targets": { "browsers": ["last 1 versions"] },
        "modules": false
      }
    ],
    "react-hmre",
    "react",
    "es2015"
  ],
  "plugins": ["transform-object-rest-spread"]
}