import sequelize from 'sequelize';
import databaseService from '../service/databaseService';

class ModelsFactory {
    constructor() {
    {{#each dbModels}}
        this.{{capitalize tableName}} = databaseService.define('{{tableName}}', {
        {{#each definedModel}}
            {{@key}}: {{this.sequelizeType}}{{iteratedCommaSeparator ../definedModel @index}}
        {{/each}}
        });
    {{iteratedBreak @root.dbModels @index ~}}
    {{/each}}
}
}

export default new ModelsFactory();
