import 'babel-core/register';
import entityService from './service/entityService';

export const apiPath = '/api';

export const setUpUserRoutes = (app) => {
  {{#each ddlCollectionEndpoints}}
  app.get(`${apiPath}/options/{{this.collectionCallName}}`, async (req, res) => {
    const collection = await entityService.get{{capitalize this.collectionCallName}}Collection();
    res.send(JSON.stringify(collection));
  });
{{iteratedBreak @root.ddlCollectionEndpoints @index ~}}
{{/each}}
};
