@import 'css/config/colors';

.container-fluid {

}

.container-app {
	background-color: $gray;
	margin: 10px;
	border-radius: 5px;
}

.time-travel {
	font-size: 18px;
	font-weight: 900;
	margin-right: 10px;
}