@import 'css/config/colors';

.button-close {
	font-size: .7em;
	top: -1px;
	padding: 0;
	position: relative;
}

.button-ellipses-v {
  border: 1px solid darkgray;
  background: transparent;
  margin: 2px 0 0 0;
}


.container-app {
	background-color: $gray;
	margin: 10px;
	border-radius: 5px;
	padding: 0 0 0 0;
}

.container-app > .header-left {
	float:left
}

.container-app > .header-right {
	float:right
}

.container-app  .header-menu {
	position: absolute;
}

.container-orb {
  background-color: $gray;
  border-radius: 5px;
  padding: 0 0 0 0;
}

.container-orb > .header-left {
  float:left
}

.container-orb > .header-right {
  float:right
}

.darkTextbox {
	border: none;
    background: transparent;
}

.darkTextbox:focus {
  border: none;
  background: silver;
}

.time-travel {
	font-size: 18px;
	font-weight: 900;
	margin-right: 10px;
}

.menu-item {
	cursor: pointer;
}

.vertical-center {
  display: inline-block;
  vertical-align: baseline;
  float: none;
}