@import 'css/config/colors';
@import 'css/modules/z-index';

.f22-app-root.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.modal-content {
	top: 20px;
}

.button-close {
	font-size: .7em;
	top: -1px;
	padding: 0;
	position: relative;
}

.button-ellipses-v {
  border: 1px solid darkgray;
  background: transparent;
  margin: 2px 0 0 0;
}

#main .container-app {
	background-color: $gray;
	margin: 10px;
	border-radius: 5px;
	padding: 0 0 0 0;
}

.container-app > .header-left {
	float:left
}

.container-app > .header-right {
	float:right
}

.container-app  .header-menu {
  position: absolute;
  top: 0;
}

#main .container-orb {
  border-radius: 5px;
  padding: 0 5px 0 5px;
  margin: 0;
}

.container-orb > .header-left {
  float:left;
  padding: 0;
  margin: 0;
}

.container-orb > .header-right {
  float:right;
  padding: 0;
  margin: 0;
  text-align: right;
}

.darkTextbox {
	border: none;
    background: transparent;
    width: 95%;
}

.darkTextbox:focus {
  border: none;
  background: silver;
}

.time-travel {
	font-size: 18px;
	font-weight: 900;
	margin-right: 10px;
}

.menu-item {
	cursor: pointer;
}

.vertical-center {
  display: inline-block;
  vertical-align: baseline;
  float: none;
}

/**

Begin Dashboard

 */

.dashboard-app:hover {
  background-color: $gray0;
  color: #000;
}

.dashboard-item.col-sm-12 {
  padding-right: 0;
}

#main .dashboard-item.dashboard-website {
  padding: 0;
  margin: 0;
}

.dashboard-item.dashboard-webfolder:hover  {
  background-color: $gray2;
  color: #000;
}

.dashboard-canvas {
  position: absolute;
  width: 100%;
  top: 45px;
}

.scrim {
  position: absolute;
  top: 0;
  @include alpha-background-color(rgba(black, 0.3), white);
  color: orangered;
  height: 100%;
  width: 100%;
}

.dashboard-canvas .pseudo-modal-content {

}

.dashboard-canvas .cell {
  height: 100%;
  margin: 21px 0 0 0;
  padding: 5px;
  box-shadow: 0 0 30px black;
  background-color: white;
}

.container-table {
  width: 100%;
  display: table;
}
.vertical-center-row {
  display: table-cell;
  vertical-align: middle;
}

.body-children-toolbar-col {
  min-width: 185px;
  max-width: 185px;
  vertical-align: top;
}

.body-children-toolbar-col > .btn-f22-create-layout {
  background-image: url('../../images/police-box.svg');
  background-size: 18px 16px;
  background-position: center;
  background-repeat: no-repeat;
  width: 26px;
  height: 24px;
  margin: 2px;
  display: inline-block;
}

:root .btn-f22-sys {
  width: 26px;
  height: 26px;
  margin: 2px;
  padding: 3px 4px 4px;
}

.layout-minion {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.body-child-selected {
  position: relative;
  outline: 5px solid gray;
  outline-offset: -5px;
  z-index: 300000;
}

.bc-toolbar-col-1 {
  float: left;
  display: inline-block;
  width: 80%;
  padding: 0 0 0 3px;
}

.bc-toolbar-title-label {
  padding: 3px 0 0 0;
  font-size: 14px;
  font-weight: bold;
}

.bc-toolbar-description {
  float: left;
  display: inline-block;
  font-size: 9px;
  font-style: italic;
  padding: 3px 0 0 0;
}

.bc-toolbar-col-2 {
  float: right;
  display: inline-block;
  width: 20%;
  padding: 0;
  margin: 0;
  text-align: center;
}

#main .move-minion {
  background-image: url('../../images/move-minion.svg');
  background-size: 18px 16px;
  background-position: center;
  background-repeat: no-repeat;
  width: 26px;
  height: 24px;
  margin: 2px;
  display: inline-block;
}

.grid-layout {
  position: relative;
  z-index: 3000;
  margin: 0;
  padding: 0;
  //transform: scale(.994) !important;
}

.layout-minion {
  padding: 0;
  margin: 0;
  width: 100%
}

/**

End Dashboard

**/

.editor-label-container {
  margin: 4px 0 0 0;
}

.tab-content {
  margin: 5px 1.5px;
}

.hidden {
  visibility: hidden;
}

// Bootstrap Carousel Begin

#main .carousel-control.left {
  background-image: none;
}

#main .carousel-control.right {
  background-image: none;
}

$carousel-transition: 0.2s ease-in-out;
#main .carousel-inner > .item {
  -webkit-transition: -webkit-transform $carousel-transition;
  -moz-transition: -moz-transform $carousel-transition;
  -o-transition: -o-transform $carousel-transition;
  transition: transform $carousel-transition;
}

// Bootstrap Carousel Ends

// Wizards Begin

.wizard-config-ddl {
  height: 500px;
}

.wizard-config-ddl .row {
  height: 90%;
}

.wizard-config-ddl.sel_view_coll-flex {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 20px 20px 25px;
}

.sel_view_row_main {
  flex-grow: 9;
  flex-shrink: 1;
}

.sel_view_row_edit_controls {
  flex-grow: 1;
  flex-shrink: 1;
}

.sel_view_toolbar {
  display: flex;
  float: left;
}

.sel_view_row_foot_nav {
  border: solid 1px blue;
  flex-grow: 1;
  flex-shrink: 1;
}

.create-item-for-collection {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  transition: opacity 350ms;
  opacity: 0;
}

.create-item-for-collection-visible {
  opacity: 100;
  transition: opacity 350ms;
}

#main .wiz-sel-coll-no-sel-coll {
  padding: 10px 0 0 30px;
}

#main .wiz-sel-coll-selected-collection {
  border: 2px solid blue;
}

#main .wiz-config-ddl-sel-field {
  text-align: right;
  padding: 0 10px 0 0;
}

#main .list-group.wiz-sel-coll {
  border: 1px solid $gray1;
  overflow-y: scroll;
  max-width: 98%;
  min-height: 200px;
  max-height: 300px;
  margin: 0 0 1px 0;
}

// Wizards End

#main .no-padding {
  padding: 0;
}