$zIndexMax: 1000;
$zIndexTopMost: 2000;
$zIndexTopMostBodyChildren: ($zIndexTopMost + 10);
$zIndexTimeTravelToolbar: ($zIndexTopMostBodyChildren - 1);
$zIndexTimeTravelToolbarScrim: ($zIndexTimeTravelToolbar - 1);
$zIndexApplicationToolbar: ($zIndexTimeTravelToolbarScrim - 1);
